[submodule "upaint-config-standard"]
	path = upaint-config-standard
	url = https://github.com/upaint-textart/upaint-config-standard.git

[submodule "upaint-config-vim"]
	path = upaint-config-vim
	url = https://github.com/upaint-textart/upaint-config-vim.git
